*.dSYM
meanie
*.o
*.la
*.lo
built/
*.log

vendor/pcre-8.30/.deps/
vendor/pcre-8.30/.libs/
vendor/pcre-8.30/Makefile
vendor/pcre-8.30/config.h
vendor/pcre-8.30/config.status
vendor/pcre-8.30/libpcre.pc
vendor/pcre-8.30/libpcre16.pc
vendor/pcre-8.30/libpcrecpp.pc
vendor/pcre-8.30/libpcreposix.pc
vendor/pcre-8.30/libtool
vendor/pcre-8.30/pcre-config
vendor/pcre-8.30/pcre.h
vendor/pcre-8.30/pcre_chartables.c
vendor/pcre-8.30/pcre_jit_test
vendor/pcre-8.30/pcre_scanner_unittest
vendor/pcre-8.30/pcre_stringpiece.h
vendor/pcre-8.30/pcre_stringpiece_unittest
vendor/pcre-8.30/pcrecpp_unittest
vendor/pcre-8.30/pcrecpparg.h
vendor/pcre-8.30/pcregrep
vendor/pcre-8.30/pcretest
vendor/pcre-8.30/stamp-h1